.row.bg-title
  .col-lg-12
    %h4.page-title Car management
    %ol.breadcrumb
      %li
        %a{:href => "/"} Dashboard
      %li
        = link_to 'Cars', backend_yatches_path
      %li.active All yatches
  / /.col-lg-12
/ row
.row
  .col-lg-12
    .white-box
      %h3 Listing yatches
      .box-header.row
        .col-md-6
          = form_tag backend_yatches_path, method: :get, class: 'form-inline' do
            .form-group
              = text_field_tag :q, nil,  placeholder: 'Search anything', class: 'form-control'
            = button_tag 'Search', type: 'submit', class: 'btn btn btn-success'
        .col-md-6
          .btn-group.pull-right
            = link_to new_backend_yatch_path, class: 'btn btn-success' do
              %i.fa.fa-plus
              New yatch
            = link_to 'Export', backend_yatches_path(format: 'xlsx'), class: 'btn btn-primary'
      .table-responsive
        %table.table.table-hover.table-striped.table-bordered
          %thead
            %tr
              %th #
              %th Brand
              %th Model
              %th Type
              %th Seats
              %th.pull-right Action...
          %tbody
            - @yatches.each do |yatch|
              %tr
                %td= yatch.id
                %td= yatch.brand.try :humanize
                %td= yatch.model.try :humanize
                %td= yatch.type.try :humanize
                %td= yatch.seats
                %td.pull-right
                  .btn-group
                    = link_to edit_backend_yatch_path(yatch), class: "btn btn-primary btn-sm" do
                      %i.fa.fa-pencil
                      Edit
                    = link_to backend_yatch_path(yatch), class: "btn btn-success btn-sm" do
                      %i.fa.fa-yatch
                      Show
                    = link_to backend_yatch_path(yatch), data: {method: 'delete', confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" do
                      %i.fa.fa-trash
                      Destroy
      .push-notification
      = paginate @yatches
