= simple_nested_form_for ['backend', @jet] do |f|
  .row
    .col-sm-4
      = f.input :brand
    .col-sm-4
      = f.input :model
    .col-sm-4
      = f.input :type, collection: JetType.all.map{|x| x.name}
  .row
    .col-sm-12
      = f.input :description
  .row
    .col-sm-4
      = f.input :seats, hint: 'Passengers'
    .col-sm-4
      = f.input :range, hint: 'Maximum range(km)'
    .col-sm-4
      = f.input :luggage_capacity, '(kg)'
  .row
    .col-md-12
      %h3 Attachments
      = f.fields_for :attachments, wrapper: false do |fa|
        .jet_attachments
          = fa.input :file, hint: image_tag(fa.object.file.url(:thumb))
          = fa.link_to_remove "Remove", class: 'btn-remove btn-danger'
      = f.link_to_add "Add a attachment", :attachments
  = f.submit nil, class: 'btn btn-sm btn-success'
  = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
