= simple_form_for ['backend', @jet] do |f|
  .row
    .col-sm-4
      = f.input :brand
    .col-sm-4
      = f.input :model
    .col-sm-4
      = f.input :type
  .row
    .col-sm-12
      = f.input :description
  .row
    .col-sm-4
      = f.input :seats
    .col-sm-4
      = f.input :range
    .col-sm-4
      = f.input :luggage_capacity
  = f.submit nil, class: 'btn btn-sm btn-success'
  = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
