.row.bg-title
  .col-lg-12
    %h4.page-title Jet management
    %ol.breadcrumb
      %li
        %a{:href => "/"} Dashboard
      %li
        = link_to 'Jets', backend_jets_path
      %li.active Jet details
  / /.col-lg-12
/ row
.row
  .col-lg-12
    .white-box
      %h3
        = @jet.brand
        '-
        = @jet.model
      %p= raw @jet.description
      = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
