= render partial: 'header', locals: {current_header: "#{@jet.brand} #{@jet.model} details"}
.row
  .col-lg-12
    .white-box
      %h3
        = @jet.brand
        '-
        = @jet.model
      %p= raw @jet.description
      %dl.dl-horizontal
        %dt Type
        %dd= @jet.type
        %dt Seats
        %dd= @jet.type
        %dt Range
        %dd= @jet.range + 'natural miles'
        %dt Luggage capacity
        %dd= @jet.luggage_capacity
      = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
