= render partial: 'header', locals: {current_header: "#{@car.brand} #{@car.model} details"}
.row
  .col-lg-12
    .white-box
      %h3 #{@car.brand} - #{@car.model}

      %dl.dl-horizontal
        %dt Description
        %dd
          %p=raw @car.description
        %dt Type
        %dd= @car.type
        %dt Seats
        %dd= @car.seats
        %dt Power
        %dd= @car.power
        %dt Engine
        %dd= @car.engine
        %dt Top speed
        %dd #{@car.top_speed} mph
        %dt Created
        %dd= @car.created_at.strftime('%a %m-%d-%Y at %H:%M %P')

      = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
