= render partial: 'header', locals: {current_header: "#{@state.name} details"}
.row
  .col-lg-12
    .white-box
      %h3 #{@state.name}

      %dl.dl-horizontal
        %dt Description
        %dd
        %dt Created
        %dd= @state.created_at.strftime('%a %m-%d-%Y at %H:%M %P')

      = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
