= render partial: 'header', locals: {current_header: "All cars"}
.row
  .col-lg-12
    .white-box
      %h3 Listing cars
      .box-header.row
        .col-md-6
          = form_tag backend_cars_path, method: :get, class: 'form-inline' do
            .form-group
              = text_field_tag :q, nil,  placeholder: 'Search anything', class: 'form-control'
            = button_tag 'Search', type: 'submit', class: 'btn btn btn-success'
        .col-md-6
          .btn-group.pull-right
            = link_to new_backend_car_path, class: 'btn btn-success' do
              %i.fa.fa-plus
              New car
            = link_to 'Export', backend_cars_path(format: 'xlsx'), class: 'btn btn-primary'
      .table-responsive
        %table.table.table-hover.table-striped.table-bordered
          %thead
            %tr
              %th #
              %th Brand
              %th Model
              %th Type
              %th Seats
              %th Engine
              %th Power
              %th Top speed
              %th.pull-right Action...
          %tbody
            - @cars.each do |car|
              %tr
                %td= car.id
                %td= car.brand
                %td= car.model
                %td= car.type
                %td= car.seats
                %td= car.engine
                %td= car.power
                %td= car.top_speed
                %td.pull-right
                  .btn-group
                    = link_to edit_backend_car_path(car), class: "btn btn-primary btn-sm" do
                      %i.fa.fa-pencil
                      Edit
                    = link_to backend_car_path(car), class: "btn btn-success btn-sm" do
                      %i.fa.fa-car
                      Show
                    = link_to backend_car_path(car), data: {method: 'delete', confirm: 'Are you sure?'}, class: "btn btn-danger btn-sm" do
                      %i.fa.fa-trash
                      Destroy
      .push-notification
      .import
        = render 'backend/cars/import'
      = paginate @cars
