.row.bg-title
  .col-lg-12
    %h4.page-title Car management
    %ol.breadcrumb
      %li
        %a{:href => "/"} Dashboard
      %li
        = link_to 'Cars', backend_cars_path
      %li.active Car details
  / /.col-lg-12
/ row
.row
  .col-lg-12
    .white-box
      %h3= @car.brand
      %h5= @car.model
      %p= @car.created_at.strftime('%a %m-%d-%Y at %H:%M %P')
      = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
